body {
  background-color: #99d1b7;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 60px;
}

.container {
  background-color: #61b9c7;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 400px;
  height: 70vh;
  margin: 0 auto;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input p {
  margin-left: 10px;
}

input {
  border-radius: 5px;
  width: 80px;
}

h1 {
  text-align: center;
}

button {
  margin: 0;
  text-align: center;
  width: 150px;
  border-radius: 5px;
  background-color: #6cca9e;
  font-size: 15px;
}

.source {
  font-size: 10px;
}
